.big{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 color: rgb(97, 97, 97);
}
.color{
  background-color: rgb(237, 237, 237);
}